<div class="container-fluid full" [ngStyle]="{'height': windowHeight}">
  <div class="row" style="height: 100%;">
    <div class="jumbotron" style="width:100%; height:100%; padding-bottom: 0rem; margin-bottom: 0rem; border-radius: 0rem;">
      <h1 class="display-3">Hey there!</h1>
      <p class="lead">My name is Madhan, I made this demo/ <a href="https://github.com/Madhan040">github</a>?</p>
      <p class="lead"> MARS Trustee Members</p>
      <ul>
        <li>K Amarnath Reddy</li>
        <li>K Ram Bhupal Reddy </li>
        <li>G Nobul Reddy</li>
    </ul>
      <hr class="my-4">
      <img src="../assets/farm.png" alt="Farm">
      <h2 class="display-3">ABOUT MARS!</h2>
      <iframe width="860" height="315" src="https://www.youtube.com/embed/6QFqUHqytNI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <ul>
          <li>Made for <a>MARS</a></li>
          <li>Blog api provided by <a href="https://www.edwisor.com">edWisor</a></li>
          <li>Theme by <a href="https://bootswatch.com/">Bootswatch</a></li>
      </ul>

    </div>
  </div>
</div>