<div class="container-fluid full" [ngStyle]="{'height': windowHeight}">
  <div class="row" style="height: 100%;">
    <div class="jumbotron" style="width:100%; height:100%; padding-bottom: 0rem; margin-bottom: 0rem; border-radius: 0rem;">
      <h1 class="display-3">Hey there!</h1>
      <p class="lead">My name is Madhan, I made this demo/ <a href="https://github.com/DavidDavydov07">github</a>?</p>
      <hr class="my-4">
      <ul>
          <li>Made for <a href="https://www.edwisor.com">MARS</a></li>
          <li>Blog api provided by <a href="https://www.edwisor.com">edWisor</a></li>
          <li>Theme by <a href="https://bootswatch.com/">Bootswatch</a></li>
      </ul>

    </div>
  </div>
</div>