<div class="container" *ngIf="isLoaded">
    <div [hidden]="isLoaded != false && postStatus != true" class="alert alert-success customPadding" style="margin-top: 0.8rem;">
        Blog <strong>{{currentBlog.title}}</strong> edited <strong>successfully</strong>! You are being redirected...
      </div>
    
      <div [hidden]="isLoaded != false && postStatusError != true" class="alert alert-danger customPadding" style="margin-top: 0.8rem;">
        There was an error editing your blog .<strong>{{currentBlog.title}}</strong>
      </div>
</div>

<div class="container" *ngIf="isLoaded">
  <h3 style="margin-top: 0.8rem;">Edit This Blog</h3>
  <div class="row" style="text-align:left">
      <div class="col-md-12">
        <form #createBlogForm="ngForm" (ngSubmit)="editThisBlog()" style="margin-top: 0.8rem;">
  
          <div class="form-group">
  
  
            <label class="control-label">Blog Title</label>
            <input type="text" name="blogTitle" [(ngModel)]="blogTitle" #title="ngModel" class="form-control" placeholder="Enter blog Title"
              required>
  
          </div>
          <div [hidden]="title.valid || title.pristine" class="customInvalid customPadding">
            Blog Title is required
          </div>
  
          <div class="form-group customPadding">
            <label>Description</label>
            <input type="text" name="blogDesc" [(ngModel)]="blogDesc" #description="ngModel" class="form-control"
              placeholder="Enter Description" required>
          </div>
  
  
          <div class="form-group customPadding">
            <label>Enter the blog body</label>
            <textarea name="blogBody" [(ngModel)]="blogBody" #bodyHtml="ngModel" class="form-control" rows="3"
              required></textarea>
          </div>
  
  
          <div class="form-group customPadding">
            <label>Category</label>
            <select [(ngModel)]="blogCat" #category="ngModel" name="blogCat" class="custom-select form-control" id="category"
              required>
              <option *ngFor="let category of possibleCategories" [value]="category">{{category}}</option>
            </select>
          </div>
  
          <button type="submit" class="btn btn-primary customPadding" [disabled]="!createBlogForm.form.valid">submit the
            blog</button>
        </form>
  
      </div>
  
    </div>
  
  </div>