<div class="container">
  <div [hidden]="postStatus != true" class="alert-success customPadding" style="margin-top: 0.8rem;">
    Blog <strong>{{blogTitle}}</strong> posted <strong>successfully</strong>! You are being redirected...
  </div>

  <div [hidden]="postStatusError != true" class="alert alert-danger customPadding" style="margin-top: 0.8rem;">
    There was an error posting your request.<strong>{{blogTitle}}</strong>
  </div>

  <div class="row" style="text-align:left">
    <div class="col-md-12">
      <form #createBlogForm="ngForm" (ngSubmit)="createBlog()" style="margin-top: 0.8rem;">

        <div class="form-group">


          <label class="control-label">Name</label>
          <input type="text" name="blogTitle" [(ngModel)]="blogTitle" #title="ngModel" class="form-control" placeholder="Enter Name"
            required>

        </div>
        <div [hidden]="title.valid || title.pristine" class="customInvalid customPadding">
          Request details are required
        </div>

        <div class="form-group customPadding">
          <label>Phone Number</label>
          <input type="text" name="blogDesc" [(ngModel)]="blogDesc" #description="ngModel" class="form-control"
            placeholder="Enter Phone or ID" required>
        </div>


        <div class="form-group customPadding">
          <label>Enter the request Info</label>
          <textarea name="blogBody" [(ngModel)]="blogBody" #bodyHtml="ngModel" class="form-control" rows="3"
            required></textarea>
        </div>


        <div class="form-group customPadding">
          <label>Request Type</label>
          <select [(ngModel)]="blogCat" #category="ngModel" name="blogCat" class="custom-select form-control" id="category"
            required>
            <option *ngFor="let category of possibleCategories" [value]="category">{{category}}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary customPadding" [disabled]="!createBlogForm.form.valid">Post the
          Ride</button>
      </form>

    </div>

  </div>

</div>